.description {
  text-align: justify;
  line-height: 1.5rem;
}

.button {
  text-align: right;
}

h3 {
  color: var(--secondary);
}

@media(max-width:768px) {
  .button {
      text-align: center;
  }
}
