<div class="content po-row login">
    <section class="po-md-7 bar">
        <h1>TOTVS.COM</h1>
    </section>
    <section class="po-md-5 form">
        
        <form class="po-row" [formGroup]="form">
            <h3 class="text-center w-100">{{!onCreateAccount ? 'Login' : 'Criar conta' }}</h3>
            <div class="po-sm-12 pt-2">
                <po-input name="input" p-label="E-mail" formControlName="email"> </po-input>
            </div>
            <div class="po-sm-12 pt-2">
                <po-password name="password" p-label="Senha" formControlName="password"> </po-password>
            </div>
            <div class="po-sm-12 mt-3">
                <po-button [p-label]="!onCreateAccount ? 'Entrar' : 'Criar conta'" (p-click)="login()" class="w-100" class="po-sm-12"> </po-button>
                <div class="po-sm-12 mt-4 text-center mb-4">
                    <a (click)="enableCreateAccount()">{{ !onCreateAccount ? 'Criar conta' : 'Fazer login'  }}</a>
                </div>

                <po-divider p-label="Login com Google"></po-divider>

                <po-button class="po-sm-12" p-label="Login com Google" (p-click)="loginWithGoogle()"></po-button>
            </div>
        </form>
        <div></div>
    </section>
</div>